body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #9d9beeef;
  margin: 0;
  padding: 0;
  background-image: url('birth.jpg');
  background-size:cover;
  background-position: center;
  
}

header {
  background-color: #2e4667;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  margin: 0;
  padding: 10px 0;
}

p {
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #2d3167;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#wishes {
  margin-top: 20px;
}